<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/app.css" rel="stylesheet"> 
		<link href="/css/main.css" rel="stylesheet"> 
		<link href="/css/bootstrap-grid.min.css" rel="stylesheet"> 
        <!--     Pagina de icons -->
        <script src="https://kit.fontawesome.com/aef00d3210.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <title>Proyecto en Playground</title>
    </head>
<body>
	<!-- Header -->
	<%- include('parcials/header.ejs') %>
	<!-- banner -->
	<%- include('parcials/banner.ejs') %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Estás editando: <i><%= producto.name %></i></h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/product/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" value="<%= producto.name %>" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input"
						value="<%= locals.oldData ? oldData.name : null %>">
						<!-- Validacion -->
						<% if (locals.errors && errors.name){ %>
							<p class="alertError"><%= errors.name.msg %> </p>
							<% } %>
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" value="<%= producto.price %>" id="price" name="price" placeholder="Ej: 5678" class="form-input"
						value="<%= locals.oldData ? oldData.price : null %>">
						<!-- Validacion -->
						<% if (locals.errors && errors.price){ %>
							<p class="alertError"><%= errors.price.msg %> </p>
							<% } %>
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text"  value="<%= producto.discount %>" id="discount" name="discount" placeholder="Ej: 15" class="form-input"
						value="<%= locals.oldData ? oldData.discount : null %>">
						<!-- Validacion -->
						<!-- <% if (locals.errors && errors.discount){ %>
							<p class="alertError"><%= errors.discount.msg %> </p>
							<% } %> -->
					</div>
					<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" value="<%= producto.category %>" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="in-sale">En oferta</option>
							<option value="visited">Últimos agregados</option>
						</select>
					</div>
					<div class="col-12">
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="description" id="description" class="form-input"><%= producto.description %></textarea>
					</div>
					<div class="col-12 col-md-6">
						<label for="productImage" class="form-label">Imagen del producto:</label>
						<input type="file" id="productImage" name="productImage">
						<% if (locals.errors && errors.image){ %>
							<p class="alertError"><%= errors.image.msg %> </p>
						<% } %>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('parcials/footer.ejs') %>
	<!-- /footer -->
</body>	
</html>