<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/css/registro.css" rel="stylesheet"> 

        <!--     Pagina de icons -->
        <script src="https://kit.fontawesome.com/aef00d3210.js" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

        <title>Proyecto en Playground</title>
    </head>
<body>
    <%- include('parcials/header.ejs') %>
    <main>
        <!-- <%- include('parcials/banner.ejs') %>
        <% if (locals.errors){ %>
            <% for( let oneErros in errors) { %>
            <p class="alertError"><%= errors[oneErros].msg %> </p>
            <% } %>      
        <% } %> -->
        <form action="/user/register" method="POST"  enctype="multipart/form-data" class="content-form">
            <h1>Registrarse</h1>
            <!-- Nombre> -->
            <h2>Nombre y apellido</h2>
            <input type="text" placeholder="Ingrese nombre" name="firstName" class="main-form__imput is-invalid"
                value="<%= locals.oldData ? oldData.firstName : null %>"><!-- Para dejar el lo que pusiste bien en el input -->
                <!-- Validacion de registro -->
                <% if (locals.errors && errors.firstName){ %>
                <p class="alertError"><%= errors.firstName.msg %> </p>
                <% } %>
            <!-- Apellido -->
            <input type="text" placeholder="Ingrese apellido" name="lastName" class="main-form__imput"
                value="<%= locals.oldData ? oldData.lastName : null %>">
                <!-- validacion de apellido -->
                <% if (locals.errors && errors.lastName){ %>
                    <p class="alertError"><%= errors.lastName.msg %> </p>
                <% } %>
            <!-- <h2>Fecha de nacimiento</h2>
            <input type="date" name="fechaDeNacimiento" class="main-form__imput">
            <input type="text" placeholder="Domicilio" name="domicilio" class="main-form__imput"> -->
            <h2>Email</h2>
                <input type="email" placeholder="Ingrese su email" name="email" class="main-form__imput"
                value="<%= locals.oldData ? oldData.email : null %>">
                <!-- Validacion de Email -->
                <% if (locals.errors && errors.email){ %>
                    <p class="alertError"><%= errors.email.msg %> </p>
                <% } %>
            <!-- <h2>Intereses</h2>
            <div class="content-checkbox">
                <label class="label-imput"><input type="checkbox" name="checkboxElectro" class="main-form__imput--checkbox">Electro</label>
                <label class="label-imput"><input type="checkbox" name="checkboxModa" class="main-form__imput--checkbox">Moda</label>
                <label class="label-imput"><input type="checkbox" name="checkboxHogar" class="main-form__imput--checkbox">Hogar</label>
                <label class="label-imput"><input type="checkbox" name="checkboxJugueteria" class="main-form__imput--checkbox">Jugueteria</label>
                <label class="label-imput"><input type="checkbox" name="checkboxVidaSana" class="main-form__imput--checkbox">VidaSana</label>
            </div> -->
            <h2>Contraseña</h2>
            <input type="password" name="password" placeholder="Ingrese contraseña" class="main-form__imput"
                value="<%= locals.oldData ? oldData.password : null %>">
                <% if (locals.errors && errors.password){ %>
                    <p class="alertError"><%= errors.password.msg %> </p>
                <% } %>
            <input type="password" name="repeatPassword" placeholder="Repetir contraseña" class="main-form__imput"
                value="<%= locals.oldData ? oldData.repeatPassword : null %>">
                <% if (locals.errors && errors.password){ %>
                    <p class="alertError"><%= errors.password.msg %> </p>
                <% } %>
            <h2>Foto de Perfil</h2>
            <input type="file" name="image" class="main-form__imput">
            <% if (locals.errors && errors.image){ %>
                <p class="alertError"><%= errors.image.msg %> </p>
            <% } %>
            <div class="conten-botones">
                <input type="submit"  class="submit">
            </div>  
        </form>
    </main>
    <%- include('parcials/footer.ejs') %>
</body>
</html>